pandas
langchain
langchain-community
sentence-transformers
huggingface
streamlit
faiss-cpu==1.7.4
pinecone-client==2.2.4
unstructured
openpyxl
torch
accelerate
bitsandbytes
ctransformers
huggingface_hub
chromadb
pypdf
PyPDF2
seaborn
sweetviz